/* CSS Document */
body{padding:0px; margin:0px; background:#2f383f; color:#FFF; font:10px/14px Tahoma, sans-serif;}
div, p, ul, h2, h3, h4, img{padding:0px; margin:0px;}

#top{width:747px; height:91px; position:relative; background:url(../images/b_top.jpg) 0 0 no-repeat; margin: 0 auto;}
#logo{width:186px; height:36px; position:absolute; top:34px; left:11px }


ul{list-style-type:none;}

ul.menu {position:absolute; top:0; left:350px;}
ul.menu li{float:left}

ul.menu li.home a{width:106px; height:66px; display:block; background:url(../images/btn_home.jpg) 0 0 no-repeat; text-indent:-20000px;}
ul.menu li.home a:hover{width:106px; height:66px; background:url(../images/btn_home_over.jpg) 0 0 no-repeat;}

ul.menu li.about a{width:88px; height:66px; display:block; background:url(../images/btn_about.jpg) 0 0 no-repeat; text-indent:-20000px;}
ul.menu li.about a:hover{width:88px; height:66px; background:url(../images/btn_about_over.jpg) 0 0 no-repeat;}

ul.menu li.contacts a{width:92px; height:66px; display:block; background:url(../images/btn_contacts.jpg) 0 0 no-repeat; text-indent:-20000px;}
ul.menu li.contacts a:hover{width:92px; height:66px; background:url(../images/btn_contacts_over.jpg) 0 0 no-repeat;}

#main_contents{width:747px; height: auto; position:relative; margin: 0 auto; clear:both;}
#header{width:747px; height:257px; position:relative; margin: 0 auto; clear:both;}

#formPan{width:212px;height:257px; float:left; background:url(../images/b_form.jpg) 0 0 no-repeat; }
#formPan h2{position:relative; font:14px/16px sans-serif; color:#505050; margin: 7px 0px 0px 20px;}
#formPan p{position:relative; color:#505050; font-size:11px; margin: 20px 10px 0px 20px;}
#formPan div {margin:0px 0px 0px 7px}
#formPan div p input{height:16px; border: #abadb3 1px solid; font:10px/14px Tahoma, sans-serif; width:150px;}
#formPan div p input.submitBtn{margin:15px 0px 0 85px;  width:66px; height:17px; line-height:0; font-size:0;}
#formPan div.register{position:relative; color:#505050; font-size:11px; margin: 10px 0px 0px 20px;}

#mainimgPan{width:535px; float:left;}
#mainimgPan ul{position:relative; margin: 6px 0 0 65px; clear:both; height:26px;}

#mainimg{position:relative; height:225px; clear:both; background:url(../images/b_slogan.jpg) 0 0 no-repeat;}
#mainimg img.sloganTitle {position: absolute; border:0px; top:20px; left:300px;}
#mainimg img.sloganText {position: absolute; border:0px; top:85px; left:330px;}

/*CONTENT*/
#content{width:747px; height: 300px; position:relative; margin: 0 auto; clear:both; background:#70848f; border-bottom: #FFFFFF 1px dashed; border-top: #FFFFFF 1px dashed;}
/*#content a{font:10px/14px Tahoma, sans-serif; color:#00e0f9; text-decoration:none }*/
/*#content a:hover{color:#FFF;}*/
#leftPan{width:212px; position:relative; float:left; background:url(../images/b_leftpan.jpg) 0 0 repeat-y; }

#services{position:relative; margin: 20px 15px 15px 15px}
#services h2{width:182px; height:25px; background:url(../images/h_services.jpg) 0 0 no-repeat; position:relative; padding-bottom:15px}
#services p{width:170px; position:relative; padding: 0 0 0 4px; }
#services p span{width:170px; font:10px/14px Tahoma, sans-serif; color:#000000; font-weight:bold;}
#services ul{color:#3c474f; margin:10px 0px 10px 15px;}

.spacerline{position:relative; clear:both; height:2px; background:url(../images/b_hline.jpg) 0 0 repeat-x; margin:0 }

/*this is for spacing at bottom after content and before footer which has the information text*/
#mortgage {position:relative; margin: 20px 15px 15px 5px}
#mortgage h2{width:182px; height:65px; position:relative; padding-bottom:15px; margin-left:10px}

#rightPan{width:535px; position:relative; float:left; margin:0 0 0 0;/* color:#2f383f;*/}

#welcome{width:500px; position:relative; margin:15px 0 0 15px; }
#welcome h2{width:400px; height:24px; background:url(../images/h_welcome.jpg) 0 0 no-repeat; position:absolute; top:0; left:0;}
#welcome p{font:12px/14px sans-serif; position:relative; margin: 0 0 10px 25px; clear:both; padding-top:40px}
/*#welcome p span{font:12px/18px Tahoma, sans-serif; color:#00e0f9; font-weight:normal;}*/

#welcome ul{font:12px/14px sans-serif; left:15px; width:155px; position:relative; float:left; padding-bottom:20px;}
#welcome ul.left {position:relative; float:left; margin: 0 0 0 50px;}
#welcome ul.right {position: relative; margin: 0 0 0 30px;}
#welcome ul li{height:16px;}
#welcome ul li a{font:10px/16px Tahoma, sans-serif; color:#fff; font-weight:normal; text-decoration:underline; background:url(../images/arrow1.gif) 0 7px no-repeat; padding: 0 0 0 7px; display:block;}
#welcome ul li a:hover{text-decoration:none; background:#3c474f;}

#fcontainer{font:11px/14px sans-serif; width:480px; position:relative; margin:0px 0 0 15px; border:0px; }
#fcontainer div.note{margin:10px 0px 0px 20px; color:#3c474f; /*rgb(255,147,76);*/}

#footer{width:747px; height:53px; position:relative; margin:20px auto; clear:both; background:#3c474f;}
#footer img{width:156px; height:37px; position:absolute; left:15px; top:9px;}

#footer p{width:535px; position:absolute; margin: 0 0 0 250px; font:10px/14px Tahoma, Arial, Helvetica, sans-serif; font-weight:normal; text-align:center; color:#fff; display:block;}
#footer a{font:10px/14px Tahoma, Arial, Helvetica, sans-serif; font-weight:normal;  color:#fff; text-decoration:none; padding:0 5px}
#footer a:hover{color:#000; text-decoration:none; background:#fff;}
/*#footer div{margin:-10px 0 0 675px; width:150px; font:10px/14px Tahoma, Arial, Helvetica, sans-serif; font-weight:normal;color:rgb(210,70,18);}*/

/* BOTTOM */

#bottom{width:747px; height:40px; position:relative; margin:-10px auto; clear:both;}
#bottom a {color: #FFFFFF;}
#bottom p{width:747px; position:absolute; margin: 0px 0 0 280px; font:10px/14px Tahoma, Arial, Helvetica, sans-serif; font-weight:normal; text-align:center; color:#fff; display:block;}

#maincontent{width:747px; height:auto; position:relative; float:left; margin:0 0 20px 0; background:#70848f; border-bottom: #FFFFFF 1px dashed; border-top: #FFFFFF 1px dashed;}
#signup{font:11px/14px sans-serif; color:#000000; width:535px; height:auto; position:relative; float:left; margin:10px 0 0 30px;}
#signup h2{margin: 10px 0 10px 0px;}

div.field, div.actions {margin-bottom: 10px;}
div.fieldlabel {margin-bottom: 0px;}

.fieldWithErrors {
padding: 2px;
background-color: #7F0000;
display: table;
}
.fieldWithErrors label {
color: #fff;
}
#errorExplanation {
width: 400px;
border: 2px solid #7F0000;
padding: 7px;
padding-bottom: 12px;
margin-bottom: 20px;
background-color: #f0f0f0;
}
#errorExplanation h2 {
text-align: left;
font-weight: bold;
padding: 5px 5px 5px 15px;
font-size: 12px;
margin: -7px;
background-color: #7F0000; /*#c00;*/
color: #fff;
}
#errorExplanation p {
color: #333;
font-size: 12px;
margin-top:5px;
margin-bottom: 0;
padding: 5px;
}
#errorExplanation ul li {
font-size: 12px;
list-style: square;
margin:0 0 0 10px;
}
