    
	<!-- body -->
	<div class="span-20 prepend-2 append-2">
	    <form method="post" action="#" id="loginForm" name="loginForm" >
	    <div id="formPan" class="span-6">
		<h2>EXISTING CUSTOMERS</h2>
		<p>
		   Please login with your ID and Password.
		</p>
		<div>
		    <p>
			<label>User ID</label><input type="text" size="10" maxlength="30" />
			<label>Password</label><input type="password" size="10" maxlength="30" />
			<input type="image" src="images/btn_submit.jpg" tabindex="9" title="Login" class="submitBtn" />
		    </p>
		</div>
		<div class="register">
		   New to our site? Please register <a href="#">here</a>
		</div>
	    </div>
	    <div id="mainimgPan" class="pull-quart span-14 last">
		<a href=#><img class="priceQuote" src="images/images/btn_quote.jpg" /></a>
		<div id="mainimg" />
		<img class="sloganTitle" src="images/images/slogan_text_title.jpg" />
		<img class="sloganDesc" src="images/images/slogan_text_desc.jpg" />
	    </div>
	    </form>
	</div>
	
	<div class="span-20 append-2">
	    <div id="content" class="span-20">
		<div id="leftPan" class="span-6">
		    <div id="services">
			<h2></h2>
			<p>
			    <span>Our scope of drafting/design work includes the following:</span>
			</p>
			<ul id="servicesList">
			    <li>* Architectural</li>
			    <li>* Structural</li>
			    <li>* Electrical</li>
			    <li>* Mechanical</li>
			    <li>* Plumbing</li>
			    <li>* HVAC</li>
			</ul>
			<br/>
		    </div>
	
		    <div class="spacerline"></div>
	    
		    <div id="mortgage">
			<h2></h2>
		    </div>
		</div>
		
		<div id="rightPan" class="span-13 last">
		    <div id="welcome">
			<h2></h2>
			<p><span></span>
			</p>
			<div>
			    Our company is interested in building relationships with companies in need of drafting or design work, ongoing contract work or any kind of small or big tasks which involve AutoCAD.
			</div>
			<br />
			<ul class="left">
			    Our scope of drafting/design work includes the following: 
			</ul>
			
			<ul class="right">
			<li><a href="#">Architectural</a></li>
			<li><a href="#">Structural</a></li>
			<li><a href="#">Electrical</a></li>
			<li><a href="#">Mechanical</a></li>
			<li><a href="#">Plumbing</a></li>
			<li><a href="#">HVAC</a></li>
			</ul>
		    </div>
		    
		    <!--<div class="spacerline"></div>-->
		    
		    <div id="fcontainer">
			<div>
			    Pricing for Design/Drafting from sketches or ideas varies depending on content.
			    Please click <a href="#">here</a> or Get A Quote button above to get pricing information.
			</div>
		    </div>
		    <br/>
		</div>
	    </div>
	</div>
