<!--footer-->
<div class="span-20 prepend-2 append-2">
  <div class="clear span-20" />
  <div class="span-20">
      <div id="footer">
          <%= image_tag("images/call.jpg", :width => "156", :height => "37") %>
          <p><%= link_to "HOME", homepage_path %> | <%= link_to "ABOUT US", aboutus_path %> | <%= link_to "CONTACTS", contact_path %></p>
          <!--<div id="footerright">-->
          <!--    <ul>-->
          <!--	<li>Zeiner Designs</li>-->
          <!--	<li>837 Concord Street</li>-->
          <!--	<li>Hagerstown, MD 21740</li>-->
          <!--    </ul>-->
          <!--</div>-->
      </div>
  </div>
  <div class="span-20">
      <div id="bottom">
          <p align="right">Copyright &copy; Zeiner Designs.</p>
      </div>
  </div>
</div>