<!--FOOTER-->
<div id="footer">
    <%= image_tag("call.jpg") %>
    <p><%= link_to "HOME", homepage_path %> | <%= link_to "ABOUT US", aboutus_path %> | <%= link_to "CONTACTS", contact_path %></p>
</div>
<!-- BOTTOM -->
<div id="bottom">
    <p>Copyright &copy; Zeiner Designs and Drafting</p>
</div>