<!-- HEADER -->
<div id="top">
    <ul class="menu">
        <li class="home">
            <%= link_to "Home", homepage_path %>
        </li>
        <li class="about">
            <%= link_to "About Us", aboutus_path %>
        </li>
        <li class="contacts">
            <%= link_to "Contacts", contact_path %>
        </li>
    </ul>
    <div id="logo">
        <%= link_to (image_tag("logo.jpg", :width => "186", :height => "36", :border => "0"), "#") %>
    </div>
</div>