<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Zeiner Design and Drafting</title>
  <meta name="description" content="Architectural design and drafting company" />
  <%= render 'layouts/stylesheets' %>
</head>
<body>
  <div id="container">
	<%= render 'layouts/header' %>
	<div id="main_contents">
	  <%= yield %>
	</div>
	<%= render 'layouts/footer' %>
  </div>  
</body>
</html>